<main class="content-box mb-5">
    <section class="registra-carga step-process">
        <div class="container">
            <div class="title3 content-desktop">
                <h3>Datos de facturación</h3>
            </div>

            <!-- STEPER -->
            <section class="stepper-container fuelux mt-xs-0 mt-md-4 mt-lg-5">
                <div id="steper" class="wizard wizard-relative">
                    <div class="steps-container text-center text-lg-left">
                        <ul class="steps clearfix">
                            <li data-step="1" class="text prev">
                                <span class="step-number">1</span>
                                <span class="step-name">Cotiza</span>
                                <span class="chevron"></span>
                            </li>
                            <li data-step="2" class="text prev">
                                <span class="step-number">2</span>
                                <span class="step-name">Registra</span>
                                <span class="chevron"></span>
                            </li>
                            <li data-step="3" class="text active">
                                <span class="step-number">3</span>
                                <span class="step-name">Factura</span>
                                <span class="chevron"></span>
                            </li>
                            <li data-step="4" class="text">
                                <span class="step-number">4</span>
                                <span class="step-name">Paga</span>
                                <span class="chevron"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- /STEPER -->

            <!-- TOTAL MOBILE -->
            <div class="total-cost content-mobile">
                <div class="row">
                    <div class="col-8">
                        <strong><p>Monto a facturar</p></strong>
                        <h2>$16,330.00<span class="iva">&nbsp;MXN + IVA</span> </h2>
                    </div>
                    <div class="col-4 text-right">
                        <a href="#" class="btn btn-default btn-link" data-toggle="modal" data-target="#modalResumen">Ver resumen</a>
                    </div>
                </div>
            </div>
            <div class="no-factura content-mobile">
                <div class="row">
                    <div class="col-12">
                        <div class="box-btns text-center">
                            <button type="button" class="btn btn-default btn-brown btn-xl"> NO REQUIERO FACTURA </button>
                            <p class="btn-note">*Si no deseas factura, esta se generará y se irá a la facturación diaria de Intermodal México.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /TOTAL MOBILE -->

            <!-- FORMULARIO MOBILE -->
            <div class="step-process__form content-mobile my-5">
                <div class="form-basic">
                    <form action="" class="form-item">
                        <div class="col-12">
                            <div class="datos-origen margin-b">
                                <div class="title-h3">
                                    <h3>Registra tus datos <br> de facturación</h3>
                                </div>

                                <div class="accordion-content">
                                    <div class="accordion-content__item">
                                        <div class="accordion-tab js-accordion-tab">
                                            <div class="btn-toggle-accordion"></div>
                                            <p><strong>Registra tus datos de facturación</strong></p>
                                        </div>
                                        <div class="accordion-panel">

                                            <ul class="form-cols list-reset">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <li>
                                                            <div class="form-group wo-pad-both">
                                                                <label for="exampleFormControlInput1 text">Razón social *</label>
                                                                <input type="text" class="form-control is-invalid is-invalid__1" placeholder="Introduce tu razón social">
                                                                <div class="invalid-feedback invalid-1 invalid-password js-normal">
                                                                    <i class="fas fa-exclamation-circle icon-exclamation"></i> Campo requerido
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </div>
                                                    <div class="col-12">
                                                        <li>
                                                            <div class="form-group wo-pad-both">
                                                                <label for="exampleFormControlInput1 text">Correo electrónico *</label>
                                                                <input type="text" class="form-control is-invalid is-invalid__1" placeholder="Introduce una dirección de correo electrónico">
                                                                <div class="invalid-feedback invalid-1 invalid-password js-normal">
                                                                    <i class="fas fa-exclamation-circle icon-exclamation"></i> Campo requerido
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <li>
                                                            <div class="form-group wo-pad-both">
                                                                <label for="exampleFormControlInput1 text">RFC *</label>
                                                                <input type="text" class="form-control is-invalid is-invalid__1" placeholder="Introduce RFC">
                                                                <div class="invalid-feedback invalid-1 invalid-password js-normal">
                                                                    <i class="fas fa-exclamation-circle icon-exclamation"></i> Campo requerido
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </div>
                                                    <div class="col-12 select">
                                                        <li>
                                                            <label for="uso-cfdi">Uso de CFDI</label>
                                                            <div class="input-group">
                                                                <select class="form-control" id="uso-cfdi">
                                                                    <option disabled selected >Seleccionar...</option>
                                                                    <option>G03 Gastos en general</option>
                                                                    <option>P01 Por definir</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                    </div>
                                                </div>
                                            </ul>

                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-content">
                                    <div class="accordion-content__item">
                                        <div class="accordion-tab js-accordion-tab">
                                            <div class="btn-toggle-accordion"></div>
                                            <p><strong>Ver información adicional</strong></p>
                                        </div>
                                        <div class="accordion-panel">
                                            <ul class="form-cols list-reset">
                                                <li>
                                                    <div class="form-group wo-pad-both">
                                                        <label for="exampleFormControlInput1 text">Calle *</label>
                                                        <input type="text" class="form-control is-invalid is-invalid__1" placeholder="Introduce calle">
                                                        <div class="invalid-feedback invalid-1 invalid-password js-normal">
                                                            <i class="fas fa-exclamation-circle icon-exclamation"></i> Campo requerido
                                                        </div>
                                                    </div>
                                                </li>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <li>
                                                            <div class="form-group wo-pad-both">
                                                                <label for="exampleFormControlInput1 text">Exterior *</label>
                                                                <input type="text" class="form-control is-invalid is-invalid__1" placeholder="Número exterior">
                                                                <div class="invalid-feedback invalid-1 invalid-password js-normal">
                                                                    <i class="fas fa-exclamation-circle icon-exclamation"></i> Campo requerido
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </div>
                                                    <div class="col-6">
                                                        <li>
                                                            <div class="form-group wo-pad-both">
                                                                <label for="exampleFormControlInput1 text">Interior *</label>
                                                                <input type="text" class="form-control is-invalid is-invalid__1" placeholder="Número interior">
                                                                <div class="invalid-feedback invalid-1 invalid-password js-normal">
                                                                    <i class="fas fa-exclamation-circle icon-exclamation"></i> Campo requerido
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </div>
                                                </div>
                                                <li>
                                                    <div class="form-group wo-pad-both">
                                                        <label for="exampleFormControlInput1 text">Código Postal *</label>
                                                        <input type="text" class="form-control is-invalid is-invalid__1" placeholder="Ingresa tu código postal">
                                                        <div class="invalid-feedback invalid-1 invalid-password js-normal">
                                                            <i class="fas fa-exclamation-circle icon-exclamation"></i> Campo requerido
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="select">
                                                    <label for="colonia">Colonia *</label>
                                                    <div class="input-group form-group">
                                                        <select class="form-control" id="colonia">
                                                            <option disabled selected >Seleccionar...</option>
                                                            <option>Colonia 1</option>
                                                            <option>Colonia 2</option>
                                                            <option>Colonia 3</option>
                                                            <option>Colonia 4</option>
                                                            <option>Colonia 5</option>
                                                        </select>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="form-group wo-pad-both">
                                                        <label for="exampleFormControlInput1 text">Municipio/Alcaldía *</label>
                                                        <input type="text" class="form-control is-invalid is-invalid__1" placeholder="Introduce Municipio o Alcaldía" disabled>
                                                        <div class="invalid-feedback invalid-1 invalid-password js-normal">
                                                            <i class="fas fa-exclamation-circle icon-exclamation"></i> Campo requerido
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="form-group wo-pad-both">
                                                        <label for="exampleFormControlInput1 text">Estado *</label>
                                                        <input type="text" class="form-control is-invalid is-invalid__1" placeholder="Introduce Estado" disabled>
                                                        <div class="invalid-feedback invalid-1 invalid-password js-normal">
                                                            <i class="fas fa-exclamation-circle icon-exclamation"></i> Campo requerido
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="box-btns__right pt-5 margin-b text-center">
                                <a href="#" class="btn btn-default btn-link btn-xl"><i class="fa fa-arrow-left"></i> REGRESAR </a>
                                <a href="#" class="btn btn-default btn-red btn-xl"> SIGUIENTE </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /FORMULARIO MOBILE -->

            <!-- FORMULARIO DESKTOP -->
            <div class="row mt-5 step-process__form content-desktop">

                <!-- FORMULARIO FACTURA -->
                <div class="col-8">
                    <div class="form-basic">
                        <div class="row mb-5">
                            <div class="col-7">
                                <h3><b>Registra tus datos de facturación</b></h3>
                            </div>
                            <div class="col-5">
                                <div class="box-btns__left">
                                    <button type="button" class="btn btn-default btn-brown btn-xl"> NO REQUIERO FACTURA </button>
                                    <p class="btn-note">*Si no deseas factura, esta se generará y se irá a la facturación diaria de Intermodal México.</p>
                                </div>
                            </div>
                        </div>
                        <form class="form-item">


                            <!-- DATOS -->
                            <div class="row">

                                <div class="col-12 datos-factura">

                                    <ul class="form-cols list-reset">

                                        <div class="row">
                                            <div class="col-6">
                                                <li>
                                                    <div class="form-group wo-pad-both">
                                                        <label for="exampleFormControlInput1 text">Razón social *</label>
                                                        <input type="text" class="form-control is-invalid is-invalid__1" placeholder="Introduce tu razón social">
                                                        <div class="invalid-feedback invalid-1 invalid-password js-normal">
                                                            <i class="fas fa-exclamation-circle icon-exclamation"></i> Campo requerido
                                                        </div>
                                                    </div>
                                                </li>
                                            </div>
                                            <div class="col-6">
                                                <li>
                                                    <div class="form-group wo-pad-both">
                                                        <label for="exampleFormControlInput1 text">Correo electrónico *</label>
                                                        <input type="text" class="form-control is-invalid is-invalid__1" placeholder="Introduce una dirección de correo electrónico">
                                                        <div class="invalid-feedback invalid-1 invalid-password js-normal">
                                                            <i class="fas fa-exclamation-circle icon-exclamation"></i> Campo requerido
                                                        </div>
                                                    </div>
                                                </li>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <li>
                                                    <div class="form-group wo-pad-both">
                                                        <label for="exampleFormControlInput1 text">RFC *</label>
                                                        <input type="text" class="form-control is-invalid is-invalid__1" placeholder="Introduce RFC">
                                                        <div class="invalid-feedback invalid-1 invalid-password js-normal">
                                                            <i class="fas fa-exclamation-circle icon-exclamation"></i> Campo requerido
                                                        </div>
                                                    </div>
                                                </li>
                                            </div>
                                            <div class="col-6 select">
                                                <li>
                                                    <label for="uso-cfdi">Uso de CFDI</label>
                                                    <div class="input-group">
                                                        <select class="form-control" id="uso-cfdi">
                                                            <option disabled selected >Seleccionar...</option>
                                                            <option>G03 Gastos en general</option>
                                                            <option>P01 Por definir</option>
                                                        </select>
                                                    </div>
                                                </li>
                                            </div>
                                        </div>

                                    </ul>

                                </div>

                                <!-- DATOS ADICIONALES -->
                                <div class="col-12 datos-adicionales-factura">
                                    <div class="accordion-content">
                                        <div class="accordion-content__item">
                                            <div class="accordion-tab js-accordion-tab">
                                                <p><strong>Ver información adicional&nbsp;&nbsp;</strong></p>
                                                <div class="btn-toggle-accordion"></div>
                                            </div>
                                            <div class="accordion-panel">
                                                <ul class="form-cols list-reset">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <li>
                                                                <div class="form-group wo-pad-both">
                                                                    <label for="exampleFormControlInput1 text">Calle *</label>
                                                                    <input type="text" class="form-control is-invalid is-invalid__1" placeholder="Introduce calle">
                                                                    <div class="invalid-feedback invalid-1 invalid-password js-normal">
                                                                        <i class="fas fa-exclamation-circle icon-exclamation"></i> Campo requerido
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </div>

                                                        <div class="col-3">
                                                            <li>
                                                                <div class="form-group wo-pad-both">
                                                                    <label for="exampleFormControlInput1 text">Exterior *</label>
                                                                    <input type="text" class="form-control is-invalid is-invalid__1" placeholder="Número exterior">
                                                                    <div class="invalid-feedback invalid-1 invalid-password js-normal">
                                                                        <i class="fas fa-exclamation-circle icon-exclamation"></i> Campo requerido
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </div>
                                                        <div class="col-3">
                                                            <li>
                                                                <div class="form-group wo-pad-both">
                                                                    <label for="exampleFormControlInput1 text">Interior *</label>
                                                                    <input type="text" class="form-control is-invalid is-invalid__1" placeholder="Número interior">
                                                                    <div class="invalid-feedback invalid-1 invalid-password js-normal">
                                                                        <i class="fas fa-exclamation-circle icon-exclamation"></i> Campo requerido
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <li>
                                                                <div class="form-group wo-pad-both">
                                                                    <label for="exampleFormControlInput1 text">Código Postal *</label>
                                                                    <input type="text" class="form-control is-invalid is-invalid__1" placeholder="Ingresa tu código postal">
                                                                    <div class="invalid-feedback invalid-1 invalid-password js-normal">
                                                                        <i class="fas fa-exclamation-circle icon-exclamation"></i> Campo requerido
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </div>
                                                        <div class="col-6 select">
                                                            <li>
                                                                <label for="banco">Colonia *</label>
                                                                <div class="input-group">
                                                                    <select class="form-control" id="colonia">
                                                                        <option disabled selected>Seleccionar...</option>
                                                                        <option>Colonia 1</option>
                                                                        <option>Colonia 2</option>
                                                                        <option>Colonia 3</option>
                                                                        <option>Colonia 4</option>
                                                                        <option>Colonia 5</option>
                                                                    </select>
                                                                </div>
                                                            </li>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <li>
                                                                <div class="form-group wo-pad-both">
                                                                    <label for="exampleFormControlInput1 text">Municipio/Alcaldía *</label>
                                                                    <input type="text" class="form-control is-invalid is-invalid__1" placeholder="Introduce Municipio o Alcaldía" disabled>
                                                                    <div class="invalid-feedback invalid-1 invalid-password js-normal">
                                                                        <i class="fas fa-exclamation-circle icon-exclamation"></i> Campo requerido
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </div>
                                                        <div class="col-6">
                                                            <li>
                                                                <div class="form-group wo-pad-both">
                                                                    <label for="exampleFormControlInput1 text">Estado *</label>
                                                                    <input type="text" class="form-control is-invalid is-invalid__1" placeholder="Introduce Estado" disabled>
                                                                    <div class="invalid-feedback invalid-1 invalid-password js-normal">
                                                                        <i class="fas fa-exclamation-circle icon-exclamation"></i> Campo requerido
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </div>
                                                    </div>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /DATOS ADICIONALES -->

                            </div>
                            <!-- /DATOS -->


                            <div class="box-btns__right pt-5 margin-b">
                                <a href="#" class="btn btn-default btn-link btn-xl"><i class="fa fa-arrow-left"></i> REGRESAR </a>
                                <a href="#" class="btn btn-default btn-red btn-xl btn-size1"> SIGUIENTE </a>
                            </div>


                        </form>
                    </div>
                </div>
                <!-- /FORMULARIO FACTURA -->

                <div class="offset-1"></div>

                <!-- RESUMEN -->
                <div class="col-3 resumen-quote content-desktop">
                    <div class="total-cost">
                        <strong><p>Monto a facturar</p></strong>
                        <h2>$16,330.00 <span class="iva">MXN + IVA</span> </h2>
                    </div>
                    <div class="accordion-content">
                        <div class="accordion-content__item">
                            <div class="accordion-tab js-accordion-tab">
                                <div class="btn-edit">
                                    <i class="fa fa-edit"></i>
                                </div>
                                <div class="btn-toggle-accordion"></div>
                                <p><strong>Resumen</strong></p>
                            </div>
                            <div class="accordion-panel">

                                <div class="accordion-datum">
                                    <h4>Ruta:</h4>
                                    <p>Mexicali-Pantaco</p>
                                </div>
                                <div class="accordion-datum">
                                    <h4>Origen:</h4>
                                    <p>Mexicali Zona Metropolitana</p>
                                </div>
                                <div class="accordion-datum">
                                    <h4>Destino:</h4>
                                    <p>Pantaco CDMX</p>
                                </div>

                                <hr>

                                <div class="accordion-datum">
                                    <h4>Fecha de recolección:</h4>
                                    <p>7 enero 2019</p>
                                </div>
                                <div class="accordion-datum">
                                    <h4>Horario:</h4>
                                    <p>12:00 hrs</p>
                                </div>
                                <div class="accordion-datum">
                                    <h4>Fecha de entrega:</h4>
                                    <p>9 enero 2019</p>
                                </div>
                                <div class="accordion-datum">
                                    <h4>Horario:</h4>
                                    <p>12:00 hrs</p>
                                </div>

                                <hr>

                                <div class="accordion-datum">
                                    <h4>Cantidad de contenedores:</h4>
                                    <p>2 Dry 53'</p>
                                    <p>3 HC 53'</p>
                                </div>

                            </div>
                        </div>
                        <div class="accordion-content__item">
                            <div class="accordion-tab js-accordion-tab">
                                <div class="btn-toggle-accordion"></div>
                                <p><strong>Responsables</strong></p>
                            </div>
                            <div class="accordion-panel">
                                <div class="accordion-datum">
                                    <div class="btn-edit-panel">
                                        <i class="fa fa-edit"></i>
                                    </div>
                                    <h4>Responsable de entrega:</h4>
                                    <p>John Carter</p>
                                    <p class="contact">mail@mail.com</p>
                                    <p class="contact">677 1234</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-content__item">
                            <div class="accordion-tab js-accordion-tab">
                                <div class="btn-edit">
                                    <i class="fa fa-edit"></i>
                                </div>
                                <div class="btn-toggle-accordion"></div>
                                <p><strong>Recolección</strong></p>
                            </div>
                        </div>
                        <div class="accordion-content__item">
                            <div class="accordion-tab js-accordion-tab">
                                <div class="btn-edit">
                                    <i class="fa fa-edit"></i>
                                </div>
                                <div class="btn-toggle-accordion"></div>
                                <p><strong>Entrega</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /RESUMEN -->

            </div>
            <!-- FORMULARIO DESKTOP -->

            <!-- MODAL -->
            <div class="modal fade" id="modalResumen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="resumen-quote">
                                <div class="accordion-content">
                                    <div class="accordion-content__item">
                                        <div class="accordion-tab js-accordion-tab">
                                            <div class="btn-edit">
                                                <i class="fa fa-edit"></i>
                                            </div>
                                            <div class="btn-toggle-accordion"></div>
                                            <p><strong>Resumen</strong></p>
                                        </div>
                                        <div class="accordion-panel">

                                            <div class="accordion-datum">
                                                <h4>Ruta:</h4>
                                                <p>Mexicali-Pantaco</p>
                                            </div>
                                            <div class="accordion-datum">
                                                <h4>Origen:</h4>
                                                <p>Mexicali Zona Metropolitana</p>
                                            </div>
                                            <div class="accordion-datum">
                                                <h4>Destino:</h4>
                                                <p>Pantaco CDMX</p>
                                            </div>

                                            <hr>

                                            <div class="accordion-datum">
                                                <h4>Fecha de recolección:</h4>
                                                <p>7 enero 2019</p>
                                            </div>
                                            <div class="accordion-datum">
                                                <h4>Horario:</h4>
                                                <p>12:00 hrs</p>
                                            </div>
                                            <div class="accordion-datum">
                                                <h4>Fecha de entrega:</h4>
                                                <p>9 enero 2019</p>
                                            </div>
                                            <div class="accordion-datum">
                                                <h4>Horario:</h4>
                                                <p>12:00 hrs</p>
                                            </div>

                                            <hr>

                                            <div class="accordion-datum">
                                                <h4>Cantidad de contenedores:</h4>
                                                <p>2 Dry 53'</p>
                                                <p>3 HC 53'</p>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="accordion-content__item">
                                        <div class="accordion-tab js-accordion-tab">
                                            <div class="btn-toggle-accordion"></div>
                                            <p><strong>Responsables</strong></p>
                                        </div>
                                        <div class="accordion-panel">
                                            <div class="accordion-datum">
                                                <div class="btn-edit-panel">
                                                    <i class="fa fa-edit"></i>
                                                </div>
                                                <h4>Responsable de entrega:</h4>
                                                <p>John Carter</p>
                                                <p class="contact">mail@mail.com</p>
                                                <p class="contact">677 1234</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-content__item">
                                        <div class="accordion-tab js-accordion-tab">
                                            <div class="btn-edit">
                                                <i class="fa fa-edit"></i>
                                            </div>
                                            <div class="btn-toggle-accordion"></div>
                                            <p><strong>Recolección</strong></p>
                                        </div>
                                    </div>
                                    <div class="accordion-content__item">
                                        <div class="accordion-tab js-accordion-tab">
                                            <div class="btn-edit">
                                                <i class="fa fa-edit"></i>
                                            </div>
                                            <div class="btn-toggle-accordion"></div>
                                            <p><strong>Entrega</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>
</main>