<main class="content-box prepara-carga pb-0">
    <section class="module simple-content pb-5">
        <div class="simple-content__box">
            <div class="container">
                <div class="title3">
                    <h3> Inicia tu carga </h3>
                </div>
                <div class="row">
                    <div class="col-12 my-5">
                        <img class="cover-image" src="../../../assets/images/imagenes/automotriz_2.jpg" alt="">
                    </div>
                </div>
                <p>
                    Cake apple pie candy canes sweet roll ice cream gingerbread halvah. Marzipan gummi bears ice cream apple pie topping biscuit. Caramels soufflé chocolate bar cake liquorice. Cupcake soufflé tiramisu cheesecake halvah lollipop sweet roll topping. Pudding
                    danish chocolate cake lemon drops tootsie roll macaroon chocolate cake.
                </p>

            </div>

        </div>
    </section>

    <section>
        <div class="jumbotron jumbotron-fluid mb-0">
            <div class="simple-content__box">
                <div class="container">
                    <div class="py-4">
                        <h3> Candy wafer lollipop </h3>
                        <p>
                            Cake apple pie candy canes sweet roll ice cream gingerbread halvah. Marzipan gummi bears ice cream apple pie topping biscuit. Caramels soufflé chocolate bar cake liquorice. Cupcake soufflé tiramisu cheesecake halvah lollipop sweet roll topping. Pudding
                            danish chocolate cake lemon drops tootsie roll macaroon chocolate cake.
                        </p>
                    </div>
                    <div class="py-4">
                        <h3> Candy wafer lollipop </h3>
                        <p>
                            Cake apple pie candy canes sweet roll ice cream gingerbread halvah. Marzipan gummi bears ice cream apple pie topping biscuit. Caramels soufflé chocolate bar cake liquorice. Cupcake soufflé tiramisu cheesecake halvah lollipop sweet roll topping. Pudding
                            danish chocolate cake lemon drops tootsie roll macaroon chocolate cake.
                        </p>
                    </div>
                    <div class="py-4">
                        <h3> Candy wafer lollipop </h3>
                        <p>
                            Cake apple pie candy canes sweet roll ice cream gingerbread halvah. Marzipan gummi bears ice cream apple pie topping biscuit. Caramels soufflé chocolate bar cake liquorice. Cupcake soufflé tiramisu cheesecake halvah lollipop sweet roll topping. Pudding
                            danish chocolate cake lemon drops tootsie roll macaroon chocolate cake.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>