<main class="content-box">
    <section class="module form-register">
        <div class="container">
            <div class="form-basic">
                <div class="title3 ">
                    <h3 class="center-text">Registro de usuarios</h3>
                </div>
                <form class="form-item center-content reg-form" [formGroup]="forma" (ngSubmit)="onSubmit()" novalidate="novalidate">
                    <ul class="form-cols list-reset">
                        <li>
                            <div class="form-group col-md-6 col-xs-12 wo-pad-both">
                                <label for="exampleFormControlInput1 text">Nombre (s) *</label>
                                <input type="text" name="name" formControlName="name" class="form-control" [ngClass]="{'is-invalid':forma.get('name').invalid}" type="text" placeholder="Nombre" formControlName="name">
                                <div *ngIf="!forma.controls['name'].valid" class="invalid-feedback">
                                    <div *ngIf="forma.controls['name'].errors?.required" class="form-control-feedback">
                                        El nombre es requerido.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-xs-12 wo-pad-both">
                                <label for="exampleFormControlInput1 text">Apellido paterno</label>
                                <input type="text" name="lastname" formControlName="lastname" class="form-control" placeholder="Ingresa tu apellido paterno" />
                            </div>
                        </li>
                        <li>
                            <div class="form-group col-md-6 col-xs-12 wo-pad-both">
                                <label for="exampleFormControlInput1 text">Apellido materno</label>
                                <input type="text" name="lastname2" formControlName="lastname2" class="form-control" placeholder="Ingresa tu apellido materno" />

                            </div>


                            <div class="form-group col-md-6 col-xs-12 wo-pad-both">
                                <label for="exampleFormControlInput1 text">Teléfono (10 digitos) *</label>
                                <input type="text" name="phone" formControlName="phone" class="form-control" [ngClass]="{'is-invalid':forma.get('phone').invalid}" placeholder="Ingresa un teléfono válido" minlength="10" maxlength="10" />
                                <div *ngIf="!forma.controls['phone'].valid" class="invalid-feedback">
                                    <div *ngIf="forma.controls['phone'].errors?.pattern" class="form-control-feedback">
                                        El teléfono debe de contener únicamente 10 números.
                                    </div>
                                    <div *ngIf="forma.controls['phone'].errors?.required" class="form-control-feedback">
                                        El teléfono es requerido.
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li>
                            <div class="form-group col-md-12 col-xs-12 wo-pad-both">
                                <label for="exampleFormControlInput1 text">Correo electrónico *</label>
                                <input type="text" name="email" formControlName="email" class="form-control" [ngClass]="{'is-invalid':forma.get('email').invalid}" placeholder="Ingresa un correo electrónico válido">
                                <div *ngIf="!forma.controls['email'].valid" class="invalid-feedback">
                                    <div *ngIf="forma.controls['email'].errors?.pattern" class="form-control-feedback">
                                        Revisa el formato de email.
                                    </div>
                                    <div *ngIf="forma.controls['email'].errors?.required" class="form-control-feedback">
                                        El email es requerido.
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-6 col-xs-12 wo-pad-both">
                                <label for="exampleFormControlInput1 text">Password</label>
                                <input type="password" name="password" formControlName="password" class="form-control" [ngClass]="{'is-invalid':forma.get('password').invalid}" placeholder="Mínimo 8 caracteres alfanuméricos" />
                                <div *ngIf="!forma.controls['password'].valid" class="invalid-feedback">
                                    <div *ngIf="forma.controls['password'].errors?.minlength" class="form-control-feedback">
                                        El mínimo son 8 caracteres.
                                    </div>
                                    <div *ngIf="forma.controls['password'].errors?.required" class="form-control-feedback">
                                        El password es requerido.
                                    </div>
                                    <div *ngIf="forma.controls['password'].errors?.pattern" class="form-control-pattern">
                                        Hay caracteres alfanuméricos
                                    </div>
                                </div>

                            </div>
                            <div class="form-group col-md-6 col-xs-12 wo-pad-both">
                                <label for="exampleFormControlInput1 text">Confirmar password</label>
                                <input type="password" name="password2" formControlName="password2" class="form-control" [ngClass]="{'is-invalid':forma.get('password2').invalid}" placeholder="Mínimo 8 caracteres alfanuméricos" />
                                <div *ngIf="!forma.controls['password2'].valid" class="invalid-feedback">
                                    <div *ngIf="forma.controls['password2'].errors?.required" class="form-control-pattern">
                                        Confirma tu password
                                    </div>
                                    <div *ngIf="forma.controls['password2'].errors?.noiguales" class="form-control-pattern">
                                        tu password no coincide
                                    </div>
                                </div>
                            </div>

                        </li>
                    </ul>
                    <div>
                    </div>
                    <!-- {{forma.valid}} -->

                    <div class="alert alert-success" *ngIf="status == 'success'">
                        Te haz registrado correctamente.
                    </div>
                    <div class="alert alert-danger" *ngIf="status == 'error'">
                        {{userStatus}}
                    </div>

                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-default btn-red btn-xl btn-size1" [disabled]="!forma.valid">
                    </div>


                    <div class="form-bottom__links">
                        <p class="center-text">Si ya tienes cuenta, <a class="default-link" [routerLink]="['/login']">Inicia sesión
                aquí</a></p>
                        <p class="center-text"><a [routerLink]="['/aviso-legal']" class="default-link">Aviso de privacidad</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>

<!--modal registro exitoso-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modalsize-1" role="document">
        <div class="modal-content pad-mod">
            <div class="modal-header row">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
            </div>
            <figure class="lightbox-icon  lightbox-icon-center">
                <img src="../../../assets/images/icons/icon-checked.svg">
            </figure>
            <div class="lighbox-message lighbox-message-center">
                <h3>Hola {{forma.value.name}}</h3>
                <p>Tu registro ha sido exitoso.</p>
            </div>
            <div class="box-btns form-group text-center">
                <button type="submit" class="btn btn-default btn-red btn-xl btn-size1" data-dismiss="modal" [routerLink]="['/login']">
          Ir a iniciar sesión</button>
            </div>
        </div>
    </div>
</div>