<div class="footer-push"></div>
<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-left col-md-3 col-reset">
                <div class="footer-GMlogo">
                    <figure>
                        <a href="#">
                            <img src="assets/images/logotipos/logotipo-GM_white.svg" />
                        </a>
                    </figure>
                </div>
                <div class="footer-FIMlogos">
                    <figure class="col-md-4 col-xs-4 col-reset">
                        <a href="#">
                            <img src="assets/images/logotipos/ferromex-color-white.svg">
                        </a>
                    </figure>
                    <figure class="col-md-6  col-xs-6 col-reset f-right">
                        <a href="#">
                            <img src="assets/images/logotipos/logotipo-intermodal.svg">
                        </a>
                    </figure>
                </div>
            </div>
            <div class="footer-right col-md-8  col-reset">
                <div class="footer-links col-md-4 col-xs-6 col-reset">
                    <h3 class="footer-sub">Tu carga</h3>
                    <ul class="list-reset">
                        <li>
                            <a [routerLink]="['/sigue-tu-carga']">Sigue tu carga</a>
                        </li>
                        <li>
                            <a [routerLink]="['/prepara-tu-carga']">Prepara tu carga</a>
                        </li>
                        <li>
                            <a [routerLink]="['/servicios-adicionales']">Servicios adicionales</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-links col-md-4 col-xs-6 col-reset">
                    <h3 class="footer-sub">Contacto</h3>
                    <ul class="list-reset">
                        <li>
                            <a [routerLink]="['/contactanos']">Contáctanos</a>
                        </li>

                    </ul>
                </div>
                <div class="footer-media col-md-4 col-xs-12 col-reset">
                    <h3 class="footer-sub">Síguenos</h3>
                    <ul class="list-reset">
                        <li>
                            <a href="#" class="icon-media media-facebook"></a>
                        </li>
                        <li>
                            <a href="#" class="icon-media media-twitter"></a>
                        </li>
                        <li>
                            <a href="#" class="icon-media media-instagram"></a>
                        </li>
                        <li>
                            <a href="#" class="icon-media media-linkedin"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom2 col-md-12 text-center">
                <a [routerLink]="['/terminos-condiciones']">Condiciones de uso</a> | <a [routerLink]="['/aviso-legal']">Aviso de privacidad</a>
            </div>
            <div class="footer-bottom col-md-12">
                GMXT &copy; 2019 Todos los derechos reservados
            </div>
        </div>
        <div class="footer-media footer-media__mobile  col-md-4 col-xs-12 col-reset">
            <ul class="list-reset">
                <li class="col-xs-3 col-reset">
                    <a href="#" class="icon-media media-facebook"></a>
                </li>
                <li class="col-xs-3 col-reset">
                    <a href="#" class="icon-media media-twitter"></a>
                </li>
                <li class="col-xs-3 col-reset">
                    <a href="#" class="icon-media media-instagram"></a>
                </li>
                <li class="col-xs-3 col-reset">
                    <a href="#" class="icon-media media-linkedin"></a>
                </li>
            </ul>
        </div>
    </div>
</footer>