<main class="content-box prepara-carga pb-0">

    <!-- PASOS PARA CARGAR -->
    <section class="module simple-content pb-5">
        <div class="simple-content__box">
            <div class="container">
                <div class="title3">
                    <h3> Prepara tu carga </h3>
                </div>
                <div class="row content-desktop">
                    <div class="col-12 my-5">
                        <img class="cover-image" src="assets/images/imagenes/featured-3.jpg" alt="">
                    </div>
                </div>
                <div class="title3 mt-5">
                    <h3> Recuerda estos 3 simples pasos para que cargues: </h3>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-8">
                        <img class="full-width" src="assets/images/imagenes/prepara-paso1.png" alt="">
                    </div>
                    <div class="col-12 col-sm-4 vertical-center">
                        <p class="number-list"> <span> 1 </span> Distribuir el peso de forma uniforme a través del piso del contenedor. </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-4 order-1 order-sm-0 vertical-center">
                        <p class="number-list"> <span> 2 </span> Evitar que la carga se mueva de un lado al otro. </p>
                    </div>
                    <div class="col-12 col-sm-8 order-0 order-sm-1">
                        <img class="full-width" src="assets/images/imagenes/prepara-paso2.png" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-8">
                        <img class="full-width" src="assets/images/imagenes/prepara-paso3.png" alt="">
                    </div>
                    <div class="col-12 col-sm-4 vertical-center">
                        <p class="number-list"> <span> 3 </span> Evitar que la carga se mueva desde el frente hacia atrás. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /PASOS PARA CARGAR -->

    <!-- MATERIALES BLOQUEO -->
    <section class="mt-5">
        <div class="jumbotron jumbotron-fluid">
            <div class="simple-content__box">
                <div class="container">
                    <div class="title3">
                        <h3> Materiales para bloqueo y aseguramiento de carga </h3>
                    </div>

                    <div class="row mt-5">
                        <div class="col-12 col-sm-6">
                            <div class="row">
                                <div class="col-6">
                                    <img class="full-width" src="assets/images/imagenes/embalaje-void-filler.png" alt="">
                                </div>
                                <div class="col-6">
                                    <img class="full-width" src="assets/images/imagenes/embalaje-colgante.png" alt="">
                                </div>
                                <div class="col-12 text-center">
                                    <p class="text-center border-top"> Void filler o Colgante </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 col-sm-3">
                            <div>
                                <img class="full-width" src="assets/images/imagenes/embalaje-madera.png" alt="">
                            </div>
                            <div class="text-center">
                                <p class="text-center border-top"> Madera </p>
                            </div>
                        </div>

                        <div class="col-6 col-sm-3">
                            <div>
                                <img class="full-width" src="assets/images/imagenes/embalaje-flejes.png" alt="">
                            </div>
                            <div class="text-center">
                                <p class="text-center border-top"> Flejes de nylon o acero </p>
                            </div>
                        </div>

                        <div class="col-6 col-sm-3">
                            <div>
                                <img class="full-width" src="assets/images/imagenes/embalaje-honeycomb.png" alt="">
                            </div>
                            <div class="text-center">
                                <p class="text-center border-top"> Tablero de Honeycomb </p>
                            </div>
                        </div>

                        <div class="col-6 col-sm-3">
                            <div>
                                <img class="full-width" src="assets/images/imagenes/embalaje-tapete-anti.png" alt="">
                            </div>
                            <div class="text-center">
                                <p class="text-center border-top"> Tapete antiderrapante </p>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="row">
                                <div class="col-6">
                                    <img class="full-width" src="assets/images/imagenes/embalaje-bolsa-aire1.png" alt="">
                                </div>
                                <div class="col-6">
                                    <img class="full-width" src="assets/images/imagenes/embalaje-bolsa-aire2.png" alt="">
                                </div>
                                <div class="col-12 text-center">
                                    <p class="text-center border-top"> Bolsas de aire </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 col-sm-3">
                            <div>
                                <img class="full-width" src="assets/images/imagenes/embalaje-carton-anti.png" alt="">
                            </div>
                            <div class="text-center">
                                <p class="text-center border-top"> Cartón antiderrapante </p>
                            </div>
                        </div>

                        <div class="col-6 col-sm-3">
                            <div>
                                <img class="full-width" src="assets/images/imagenes/embalaje-ty-gard.png" alt="">
                            </div>
                            <div class="text-center">
                                <p class="text-center border-top"> Ty Gard </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /MATERIALES BLOQUEO -->

    <!-- PATRÓN ARTÍCULOS PALETIZADOS -->
    <section class="module simple-content py-5">
        <div class="simple-content__box">
            <div class="container">
                <div class="title3">
                    <h3> Patrón de Carga artículos paletizados </h3>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div id="carousel1" class="carousel slide" data-ride="carousel" data-interval="false">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block" src="assets/images/imagenes/carga-paletizada1.png" alt="First slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block" src="assets/images/imagenes/carga-paletizada2.png" alt="Second slide">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev">
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel1" role="button" data-slide="next">
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- /PATRÓN ARTÍCULOS PALETIZADOS -->

    <!-- ACORDEÓN DE PATRONES DE CARGA -->
    <section class="mt-5">
        <div class="jumbotron jumbotron-fluid">
            <div class="simple-content__box">
                <div class="container know-container">
                    <div class="accordion-content">
                        <div class="accordion-content__item">
                            <div class="accordion-tab js-accordion-tab">
                                <p><strong>Patrón de Carga Pallets en fila simple</strong> </p>
                            </div>
                            <div class="accordion-panel">
                                <p><strong> a.</strong> Primeros tres pallets se muestran transparentes para ilustrar los 2 bloqueos laterales con manera 2” x 4” en ambos lados del pallet. </p>
                                <p><strong>b.</strong> Polines Laterales de 2” x 4”. Un Polín por Cada Lado del Pallet (24” de Largo 6 Clavos Mínimo) </p>
                                <p><strong>c.</strong> Bloqueo Trasero de 2” x 6” Con Polines de Respaldo. </p>
                                <div class="text-center">
                                    <img class="full-width" src="assets/images/imagenes/patron-fila-simple.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="accordion-content__item">
                            <div class="accordion-tab js-accordion-tab">
                                <p><strong> Patrón de Carga 1-2 a lo ancho del contenedor </strong></p>
                            </div>
                            <div class="accordion-panel">
                                <p><strong>a.</strong> Polines laterales de 2” x 4”. Un polín por cada lado del pallet (24” de largo 4 clavos mínimo). </p>
                                <p><strong>b.</strong> Polín de 2” x 4” según el lado con espacio. Un polín por lado de los pallets (24” de largo 4 clavos mínimo). </p>
                                <p><strong>c.</strong> Bloqueo Trasero de 2” x 4” x 18” Con Polines de Respaldo. </p>
                                <p> Los clavos utilizados para asegurar el bloqueo del piso sobre la madera deben colocarse en una distancia de 4” a 6”. </p>
                                <div class="text-center">
                                    <img class="full-width" src="assets/images/imagenes/patron-1-2.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="accordion-content__item">
                            <div class="accordion-tab js-accordion-tab">
                                <p><strong> Patrón de Carga Pallets azulejo o cerámica </strong></p>
                            </div>
                            <div class="accordion-panel">
                                <p><strong>a.</strong> Cajas de cerámica cargadas en pallets. Cajas unificadas con envoltura retráctil y bandas. Producto asegurado a la plataforma con el fin de eliminar el riesgo de daño del producto. </p>
                                <p><strong>b.</strong> El producto paletizado se carga en el patrón de compensación 2-2. Cualquier unidad de un solo ancho debe estar centrada lateralmente. </p>
                                <p><strong>c.</strong> Bloqueo del piso (madera de 2” x 4”): Bloqueo lateral = 2” x 4” x 18” asegurado con 4 clavos. Bloqueo trasero = Laminado 2” x 4” x 18” más 2” x 4” x 18” clavos de respaldo (patrón escalonado, cada 4”-6”).
                                    Nota: Unidades de un solo ancho. Bloqueo lateral de 2” x 4” x 18” en ambos lados. </p>
                                <div class="text-center">
                                    <img class="full-width" src="assets/images/imagenes/patron-azulejo-ceramica.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="accordion-content__item">
                            <div class="accordion-tab js-accordion-tab">
                                <p><strong> Patrón de Carga atados de madera </strong></p>
                            </div>
                            <div class="accordion-panel">
                                <p><strong>a.</strong> 2 bandas de 1 1/4 x .031. Unificadores de acero por atado de madera. </p>
                                <p><strong>b.</strong> Laminado de 2” x 6” x 96”. Bloqueo cruzado con 2” x 6” x 18”. Bloqueo trasero de respaldo. </p>
                                <p><strong>c.</strong> Bloqueo lateral de 2” x 6” x 24” aplicado a cada extremo. Paquete de 10' en vacío lateral. Alternativa: 2” x 6” x 24” Bloqueo laeral aplicado a cada costado. Paquete 8' en vacío lateral. </p>
                                <div class="text-center">
                                    <img class="full-width" src="assets/images/imagenes/patron-atados-madera.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /ACORDEÓN DE PATRONES DE CARGA -->

    <!-- PATRÓN PRODUCTOS EMBOLSADOS -->
    <section class="module simple-content py-5">
        <div class="simple-content__box">
            <div class="container">
                <div class="title3">
                    <h3> Patrón de Carga productos embolsados o encostalados </h3>
                </div>
                <div class="row">
                    <div class="col-12 my-5">
                        <div id="carousel2" class="carousel slide" data-ride="carousel" data-interval="false">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-80" src="assets/images/imagenes/patron-embolsados1.png" alt="First slide">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carousel2" role="button" data-slide="prev">
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel2" role="button" data-slide="next">
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- /PATRÓN PRODUCTOS EMBOLSADOS -->

    <!-- PATRÓN ARTÍCULOS VARIOS -->
    <section class="mt-5">
        <div class="jumbotron jumbotron-fluid">
            <div class="simple-content__box">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-7 text-center vertical-center">
                            <img class="full-width" src="assets/images/imagenes/patron-articulos-varios.png" alt="">
                        </div>
                        <div class="col-12 col-sm-5">
                            <div class="title3">
                                <h3> Patrón de Carga Artículos varios en contenedor </h3>
                            </div>
                            <p> <strong> 1. </strong> Distribuya uniformemente el peso de la carga de un lado a otro y de adelante hacia atrás a una altura uniforme de la carga en la medida en que la carga lo permita. </p> <br>
                            <p> <strong> 2. </strong> Coloque la carga de una manera que ofrezca la mayor protección, teniendo en cuenta el peso y las características de los paquetes ensamblados en la distribución la carga. En general, coloque la carfa más
                                pesada en camas inferiores y carga más ligera en las camas superiores. </p> <br>
                            <p> <strong> 3. </strong> Use hojas divisoras entre contenedores de diferentes tamaños o diferentes tipos de carga para ayudar a prevenir el daño de las cargas. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /PATRÓN ARTÍCULOS VARIOS -->

    <!-- PATRÓN SUPER SACOS -->
    <section class="module simple-content py-5">
        <div class="simple-content__box">
            <div class="container">
                <div class="title3">
                    <h3> Patrón de Carga Súper Sacos en Contenedor </h3>
                </div>
                <div class="row">
                    <div class="col-12 my-5">
                        <div id="carousel3" class="carousel slide" data-ride="carousel" data-interval="false">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-80" src="assets/images/imagenes/patron-supersacos1.png" alt="First slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-80" src="assets/images/imagenes/patron-supersacos2.png" alt="First slide">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carousel3" role="button" data-slide="prev">
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel3" role="button" data-slide="next">
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- PATRÓN SUPER SACOS -->

    <!-- BLOQUEO ADICIONAL -->
    <section class="mt-5">
        <div class="jumbotron jumbotron-fluid">
            <div class="simple-content__box">
                <div class="container">
                    <div class="title3">
                        <h3> Bloqueo y/o Aseguramiento Adicional </h3>
                    </div>
                    <p> Los pallets que no reúnan la retención adecuada sobre la tarima será necesario adicionar emplaye, esquineros, antiderrapantes que ayuden a darle firmeza necesaria para evitar que la carga se desplace o caiga. </p> <br>
                    <p> Cuando los pallets no reúnan los estándares mínimos de retención del producto sobre la tarima se recomienda adicionar a los bloqueos en piso barrera de contención, ty-gard o fleje de nylon lo cual garantizará la retención del producto.
                        </p> <br>
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center">
                            <img class="width-85" src="assets/images/imagenes/embalaje-emplalle-pasos.png" alt="">
                        </div>
                        <div class="col-12 col-md-6 text-center">
                            <img class="width-85" src="assets/images/imagenes/embalaje-emplalle.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /BLOQUEO ADICIONAL -->

    <!-- CARGA MAL DISTRIBUIDA -->
    <section class="module simple-content py-5">
        <div class="simple-content__box">
            <div class="container">
                <div class="title3">
                    <h3> Corte de unidades por carga mal distribuida </h3>
                </div>
                <p> Tu servicio puede ser cancelado por una mala distribución de tu mercancía. </p>
                <div class="row">
                    <div class="col-12 border-bottom">
                        <img class="full-width" src="assets/images/imagenes/distribucion3.png" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 border-bottom">
                        <img class="full-width" src="assets/images/imagenes/distribucion1.png" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <img class="full-width" src="assets/images/imagenes/distribucion2.png" alt="">
                    </div>
                </div>
                <div class="title3 py-5">
                    <h3> Costos adicionales </h3>
                </div>
                <div class="pb-2">
                    <h3> Candy wafer lollipop </h3>
                    <p>
                        Cake apple pie candy canes sweet roll ice cream gingerbread halvah. Marzipan gummi bears ice cream apple pie topping biscuit. Caramels soufflé chocolate bar cake liquorice. Cupcake soufflé tiramisu cheesecake halvah lollipop sweet roll topping. Pudding
                        danish chocolate cake lemon drops tootsie roll macaroon chocolate cake.
                    </p>
                </div>
                <div class="pb-2">
                    <h3> Candy wafer lollipop </h3>
                    <p>
                        Cake apple pie candy canes sweet roll ice cream gingerbread halvah. Marzipan gummi bears ice cream apple pie topping biscuit. Caramels soufflé chocolate bar cake liquorice. Cupcake soufflé tiramisu cheesecake halvah lollipop sweet roll topping. Pudding
                        danish chocolate cake lemon drops tootsie roll macaroon chocolate cake.
                    </p>
                </div>
                <div class="pb-2">
                    <h3> Candy wafer lollipop </h3>
                    <p>
                        Cake apple pie candy canes sweet roll ice cream gingerbread halvah. Marzipan gummi bears ice cream apple pie topping biscuit. Caramels soufflé chocolate bar cake liquorice. Cupcake soufflé tiramisu cheesecake halvah lollipop sweet roll topping. Pudding
                        danish chocolate cake lemon drops tootsie roll macaroon chocolate cake.
                    </p>
                </div>
            </div>

        </div>
    </section>
    <!-- /CARGA MAL DISTRIBUIDA -->

    <!-- NECESITAS AYUDA -->
    <section class="text-center">
        <div class="jumbotron jumbotron-fluid mb-0">
            <div class="simple-content__box">
                <div class="container">
                    <div class="title3">
                        <h3> ¿Necesitas ayuda? </h3>
                        <p> Nosotros te podemos asesorar sin ningún costo. (abre chat) </p>
                        <p> o bien. </p>
                        <div class="pt-4">
                            <p> <strong> Ricardo Trujillo Partida Jefe de Prevención de Daños </strong> </p>
                            <p> Tel. <strong> 01 33 38 37 20 12 </strong></p>
                            <p> Cel. <strong> 33 38 15 51 47 </strong></p>
                            <p> Correo. <a class="default-link" href="#" target="_blank" rel="noopener noreferrer"> ricardo.trujillo@ferromex.mx </a> </p>
                        </div>
                        <div class="pt-4">
                            <p> <strong> Omar Alejandro Gutierrez Ejecutivo Prevención de Daños </strong> </p>
                            <p> Tel. <strong> 01 33 38 37 20 00 </strong> Ext. <strong> 2356 </strong> </p>
                            <p> Cel. <strong> 33 38 15 51 46 </strong></p>
                            <p> Correo. <a class="default-link" href="#" target="_blank" rel="noopener noreferrer"> omar.gutierrez@ferromex.mx </a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /NECESITAS AYUDA -->

</main>