<main class="content-box mb-5">
    <!-- TABLA DESKTOP -->
    <div class="container content-desktop">
        <div class="title3">
            <h3>Estas son tus cargas</h3>
        </div>

        <div class="table-responsive table--sigue">
            <table id="table-sigue" class="table">
                <thead class="thead-gray">
                    <tr>
                        <th class="text" scope="col">Pedido</th>
                        <th class="text" scope="col">Contenedor</th>
                        <th class="text" scope="col">Origen</th>
                        <th class="text" scope="col">Destino</th>
                        <th class="text" scope="col">Estatus</th>
                        <th class="text" scope="col">Recolección</th>
                        <th class="text" scope="col">ETA destino</th>
                        <th class="text" scope="col">ETA cliente</th>
                        <th class="text" scope="col">Arribo por cliente</th>
                        <th class="text" scope="col"></th>
                        <th class="text" scope="col"></th>
                    </tr>
                </thead>

                <tbody>

                    <tr>
                        <td class="text">N2832-AA</td>
                        <td class="text">FXEU232680</td>
                        <td class="text">Mexicali</td>
                        <td class="text">Pantaco</td>
                        <!-- Usar clases "tag-transito, tag-cerrado, tag-recepcion" -->
                        <td class="text"><span class="tag tag-transito">En transito</span></td>
                        <td class="text">
                            <span class="d-block">26/12/2018</span>
                            <span class="d-block">04:43:00 a.m.</span>
                        </td>
                        <td>02/01/2019</td>
                        <td class="text">
                            <span class="d-block">26/12/2018</span>
                            <span class="d-block">04:43:00 a.m.</span>
                        </td>
                        <td class="text">
                            <span class="d-block">26/12/2018</span>
                            <span class="d-block">04:43:00 a.m.</span>
                        </td>
                        <td>
                            <i class="fas fa-download"> </i>
                        </td>
                        <td>
                            <i class="fas fa-eye icon-eye"> </i>
                        </td>
                    </tr>

                    <tr>
                        <td class="text">N2832-AA</td>
                        <td class="text">FXEU232680</td>
                        <td class="text">Mexicali</td>
                        <td class="text">Pantaco</td>
                        <!-- Usar clases "tag-transito, tag-cerrado, tag-recepcion" -->
                        <td class="text"><span class="tag tag-transito">En transito</span></td>
                        <td class="text">
                            <span class="d-block">26/12/2018</span>
                            <span class="d-block">04:43:00 a.m.</span>
                        </td>
                        <td>02/01/2019</td>
                        <td class="text">
                            <span class="d-block">26/12/2018</span>
                            <span class="d-block">04:43:00 a.m.</span>
                        </td>
                        <td class="text">
                            <span class="d-block">26/12/2018</span>
                            <span class="d-block">04:43:00 a.m.</span>
                        </td>
                        <td>
                            <i class="fas fa-download"> </i>
                        </td>
                        <td>
                            <i class="fas fa-eye icon-eye"> </i>
                        </td>
                    </tr>

                    <tr>
                        <td class="text">N2832-AA</td>
                        <td class="text">FXEU232680</td>
                        <td class="text">Mexicali</td>
                        <td class="text">Pantaco</td>
                        <!-- Usar clases "tag-transito, tag-cerrado, tag-recepcion" -->
                        <td class="text"><span class="tag tag-transito">En transito</span></td>
                        <td class="text">
                            <span class="d-block">26/12/2018</span>
                            <span class="d-block">04:43:00 a.m.</span>
                        </td>
                        <td>02/01/2019</td>
                        <td class="text">
                            <span class="d-block">26/12/2018</span>
                            <span class="d-block">04:43:00 a.m.</span>
                        </td>
                        <td class="text">
                            <span class="d-block">26/12/2018</span>
                            <span class="d-block">04:43:00 a.m.</span>
                        </td>
                        <td>
                            <i class="fas fa-download"> </i>
                        </td>
                        <td>
                            <i class="fas fa-eye icon-eye"> </i>
                        </td>
                    </tr>

                    <tr>
                        <td class="text">N2832-AA</td>
                        <td class="text">FXEU232680</td>
                        <td class="text">Mexicali</td>
                        <td class="text">Pantaco</td>
                        <!-- Usar clases "tag-transito, tag-cerrado, tag-recepcion" -->
                        <td class="text"><span class="tag tag-transito">En transito</span></td>
                        <td class="text">
                            <span class="d-block">26/12/2018</span>
                            <span class="d-block">04:43:00 a.m.</span>
                        </td>
                        <td>02/01/2019</td>
                        <td class="text">
                            <span class="d-block">26/12/2018</span>
                            <span class="d-block">04:43:00 a.m.</span>
                        </td>
                        <td class="text">
                            <span class="d-block">26/12/2018</span>
                            <span class="d-block">04:43:00 a.m.</span>
                        </td>
                        <td>
                            <i class="fas fa-download"> </i>
                        </td>
                        <td>
                            <i class="fas fa-eye icon-eye"> </i>
                        </td>
                    </tr>s

                </tbody>
            </table>
        </div>
    </div>
    <!-- /TABLA DESKTOP -->

    <!-- TABLA MOBILE -->
    <div class="container content-mobile">
        <div class="title3 align-center">
            <h3>Estas son tus cargas</h3>
        </div>

        <div class="cards-container">

            <!-- SEARCH -->
            <div class="search">
                <input class="search__input form-control" type="text" placeholder="Buscar carga…">
                <i class="search__icon fas fa-search"></i>
            </div>
            <!-- /SEARCH -->

            <!-- CARD -->

            <div class="card card--table">
                <div class="card__header">
                    <div class="row">
                        <div class="col-12">
                            <h4>Cotización: <strong>N832-A1</strong></h4>
                        </div>
                    </div>
                </div>
                <div class="card__body">
                    <div class="row">
                        <div class="col-4">
                            <h4>Contenedor</h4>
                            <p>98A</p>
                        </div>
                        <div class="col-4">
                            <h4>Origen</h4>
                            <p>Mexicali</p>
                        </div>
                        <div class="col-4">
                            <h4>Destino</h4>
                            <p>Pantaco</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <h4>Servicios adicionales</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <h4>Contenedor</h4>
                                    <p>98A</p>
                                </div>
                                <div class="col-4">
                                    <h4>Origen</h4>
                                    <p>Mexicali</p>
                                </div>
                                <div class="col-4">
                                    <h4>Destino</h4>
                                    <p>Pantaco</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card__footer">
                    <div class="row">
                        <div class="col-7">
                            <h4>Monto: <strong>$16,349.39+IVA</strong></h4>
                        </div>
                        <div class="col-5">
                            <button class="btn btn-default btn-brown">FINALIZAR</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /CARD -->
        </div>

        <!-- PAGING -->
        <div class="dataTables_paginate paging--mobile">
            <a class="paginate_button previous disabled">Previous</a>
            <span>
              <a class="paginate_button current">1</a>
              <a class="paginate_button">2</a>
              <a class="paginate_button">3</a>
          </span>
            <a class="paginate_button next">Next</a>
        </div>
        <!-- /PAGING -->
    </div>
    <!-- /TABLA MOBILE -->
</main>