<div class="content-box">
    <div class="container aditional">
        <div class="title3">
            <h3>Servicios adicionales</h3>
        </div>

        <figure>
            <img class="image image-hero" src="assets/images/imagenes/featured-2.jpg" />
        </figure>
        <div class="aditional-text text-center">
            <p>Queremos que tu carga llegue en las mejores condiciones.</p>
            <p><strong>Si tu carga presenta riesgos de ser dañada o dañada por plagas es necesario que uses alguno de nuestros servicios adicionales.</strong></p>
        </div>
    </div>
</div>


<div class="bg-gray">
    <div class="aditional-content">
        <div class="container">
            <h3 class="title-section"><strong>Fumigación</strong></h3>
            <div class="col-xs-12 col-sm-6 col-reset">
                <figure>
                    <img class="image" src="assets/images/imagenes/fumigacion.png" />
                </figure>
            </div>
            <div class="col-xs-12 col-sm-6 col-reset">
                <div class="midle-content__text">
                    <h3><strong>$2,200.00 <span>MXN</span></strong></h3>
                    <p>Servicio de Fumigación para tu contenedor si llevas productos perecederos o de grado alimenticio. O bien si tu carga contempla maderas o productos susceptibles a plagas o similares.</p>
                </div>
            </div>
            <div class="combo-simple__text">
                <h3>Fumigación tipo 1</h3>
                <p>
                    Candy caramels biscuit chocolate bar soufflé liquorice cotton candy apple pie pie. Dragée danish cotton candy. Soufflé marshmallow jelly beans. Cheesecake cupcake bear claw wafer ice cream soufflé chocolate dragée. Dessert soufflé ice cream donut. Tootsie
                    roll cupcake jelly candy. Biscuit ice cream sugar plum dessert. Pie sweet lemon drops fruitcake fruitcake candy donut tart chocolate. Jelly bear claw bonbon chupa chups lemon drops. Brownie jujubes tootsie roll cake icing lemon drops.
                    Ice cream dragée cookie tart icing dragée lemon drops.
                </p>
            </div>
            <div class="combo-simple__text">
                <h3>Fumigación tipo 2</h3>
                <p>
                    Candy caramels biscuit chocolate bar soufflé liquorice cotton candy apple pie pie. Dragée danish cotton candy. Soufflé marshmallow jelly beans. Cheesecake cupcake bear claw wafer ice cream soufflé chocolate dragée. Dessert soufflé ice cream donut. Tootsie
                    roll cupcake jelly candy. Biscuit ice cream sugar plum dessert. Pie sweet lemon drops fruitcake fruitcake candy donut tart chocolate. Jelly bear claw bonbon chupa chups lemon drops. Brownie jujubes tootsie roll cake icing lemon drops.
                    Ice cream dragée cookie tart icing dragée lemon drops.
                </p>
            </div>
            <div class="combo-simple__text">
                <h3>Fumigación tipo 3</h3>
                <p>
                    Candy caramels biscuit chocolate bar soufflé liquorice cotton candy apple pie pie. Dragée danish cotton candy. Soufflé marshmallow jelly beans. Cheesecake cupcake bear claw wafer ice cream soufflé chocolate dragée. Dessert soufflé ice cream donut. Tootsie
                    roll cupcake jelly candy. Biscuit ice cream sugar plum dessert. Pie sweet lemon drops fruitcake fruitcake candy donut tart chocolate. Jelly bear claw bonbon chupa chups lemon drops. Brownie jujubes tootsie roll cake icing lemon drops.
                    Ice cream dragée cookie tart icing dragée lemon drops.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="aditional-content">
    <div class="container">
        <h3 class="title-section"><strong>Seguro</strong></h3>
        <div class="col-xs-12 col-sm-6 col-reset">
            <figure>
                <img class="image" src="assets/images/imagenes/seguro.png" />
            </figure>
        </div>
        <div class="col-xs-12 col-sm-6 col-reset">
            <div class="midle-content__text">
                <h3><strong>$1,800.00 <span>MXN</span></strong></h3>
                <p>El servicio de aseguramientos es requerido cuando tu mercancía sea susceptible de movimiento inusual dentro del contenedor.</p>
            </div>
        </div>
        <div class="combo-simple__text">
            <h3>Seguro tipo 1</h3>
            <p>
                Tart gummies gummi bears gummies toffee. Caramels carrot cake lollipop macaroon icing topping candy canes. Cookie cotton candy halvah biscuit. Fruitcake pudding bonbon lollipop.
            </p>
        </div>
        <div class="combo-simple__text">
            <h3>Seguro tipo 2</h3>
            <p>
                Biscuit bonbon fruitcake pudding pudding wafer macaroon cupcake liquorice. Fruitcake pie bonbon topping chocolate bar tootsie roll sweet toffee donut. Candy icing halvah chupa chups marzipan. Jujubes wafer tart sesame snaps marzipan. Gummies toffee jelly
                beans croissant bear claw icing halvah muffin. Cookie ice cream macaroon cookie pie tiramisu croissant.
            </p>
        </div>
        <div class="combo-simple__text">
            <h3>Seguro tipo 3</h3>
            <p>
                Toffee sugar plum ice cream. Powder oat cake fruitcake. Fruitcake cotton candy macaroon wafer chocolate cake chupa chups cupcake cotton candy bear claw. Tiramisu cookie marshmallow lollipop icing marzipan topping gummies tootsie roll. Cake carrot cake
                soufflé. Cheesecake carrot cake gummi bears caramels dragée danish gummies.
            </p>
        </div>
    </div>
</div>

<div class="bg-gray">
    <div class="aditional-content">
        <div class="container">
            <h3 class="title-section"><strong>Sistemas de sujeción de carga</strong></h3>
            <div class="col-xs-12 col-sm-6 col-reset">
                <figure>
                    <img class="image" src="assets/images/imagenes/sujecion-carga.png" />
                </figure>
            </div>
            <div class="col-xs-12 col-sm-6 col-reset">
                <div class="midle-content__text">
                    <h3><strong>$9,000.00 <span>MXN</span></strong></h3>
                    <p>Jelly bear claw bonbon chupa chups lemon drops. Brownie jujubes tootsie roll cake icing lemon drops. Ice cream dragée cookie tart icing dragée lemon drops. Muffin gummies tart. Gummies oat cake ice cream cotton candy marzipan apple
                        pie tart liquorice gummies.</p>
                </div>
            </div>
            <div class="combo-simple__text">
                <h3>Sujeción tipo 1</h3>
                <p>
                    Tart gummies gummi bears gummies toffee. Caramels carrot cake lollipop macaroon icing topping candy canes. Cookie cotton candy halvah biscuit. Fruitcake pudding bonbon lollipop. Chupa chups candy canes gingerbread. Gingerbread sugar plum liquorice icing.
                    Toffee donut wafer. Carrot cake apple pie carrot cake chocolate bar. Jelly-o croissant marzipan croissant jujubes lemon drops dragée lemon drops. Cotton candy cheesecake cupcake bonbon candy bonbon marshmallow.
                </p>
            </div>
            <div class="combo-simple__text">
                <h3>Sujeción tipo 2</h3>
                <p>
                    Cookie ice cream macaroon cookie pie tiramisu croissant. Halvah jujubes sweet roll candy. Cake sesame snaps halvah soufflé carrot cake jujubes candy canes gummi bears. Tootsie roll bear claw wafer. Tootsie roll jujubes chupa chups bonbon topping bear
                    claw soufflé donut.
                </p>
            </div>
            <div class="combo-simple__text">
                <h3>Sujeción tipo 3</h3>
                <p>
                    Toffee sugar plum ice cream. Powder oat cake fruitcake. Fruitcake cotton candy macaroon wafer chocolate cake chupa chups cupcake cotton candy bear claw. Tiramisu cookie marshmallow lollipop icing marzipan topping gummies tootsie roll. Cake carrot cake
                    soufflé. Cheesecake carrot cake gummi bears caramels dragée danish gummies.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="aditional-content">
    <div class="container">
        <h3 class="title-section"><strong>Asesoría en preparación de embarques</strong></h3>
        <div class="col-xs-12 col-sm-6 col-reset">
            <figure>
                <img class="image" src="assets/images/imagenes/featured-1.jpg" />
            </figure>
        </div>
        <div class="col-xs-12 col-sm-6 col-reset">
            <div class="midle-content__text">
                <h3><strong>Sin costo</strong></h3>
                <p>Icing lollipop icing. Jelly-o powder cotton candy candy canes caramels cake fruitcake cotton candy. Liquorice tiramisu wafer sweet roll sesame snaps fruitcake oat cake. Muffin cotton candy cotton candy. Gummi bears chocolate cake sweet
                    chocolate bar apple pie ice cream lollipop jelly gummies. Cotton candy pie lollipop tiramisu dragée chocolate cake muffin gummi bears candy canes. Marzipan sweet soufflé icing croissant marshmallow bear claw brownie. </p>
            </div>
        </div>
        <div class="combo-simple__text">
            <h3>Asesoría tipo 1</h3>
            <p>
                Sweet roll chocolate pudding gingerbread tart sweet pudding danish. Jujubes jujubes biscuit sweet roll pastry chocolate bar chocolate cake pastry. Sesame snaps marzipan cotton candy candy marshmallow apple pie sugar plum. Cake liquorice pudding toffee
                bonbon fruitcake marzipan marzipan donut. Tart pastry gingerbread. Tiramisu fruitcake jelly croissant bonbon marzipan.
            </p>
        </div>
        <div class="combo-simple__text">
            <h3>Asesoría tipo 2</h3>
            <p>
                Biscuit bonbon fruitcake pudding pudding wafer macaroon cupcake liquorice. Fruitcake pie bonbon topping chocolate bar tootsie roll sweet toffee donut. Candy icing halvah chupa chups marzipan. Jujubes wafer tart sesame snaps marzipan. Gummies toffee jelly
                beans croissant bear claw icing halvah muffin. Cookie ice cream macaroon cookie pie tiramisu croissant.
            </p>
        </div>
        <div class="combo-simple__text">
            <h3>Asesoría tipo 3</h3>
            <p>
                Oat cake soufflé tart cake jelly brownie donut halvah chocolate bar. Toffee donut sweet roll powder cheesecake marzipan tiramisu. Bear claw cupcake icing macaroon candy canes chocolate cake jelly beans pastry lollipop. Chocolate tiramisu gingerbread pastry
                soufflé pudding gingerbread jelly-o. Donut powder croissant sugar plum bear claw lemon drops sugar plum toffee. Sesame snaps caramels macaroon gummi bears gummies. Ice cream fruitcake chupa chups sesame snaps powder soufflé candy canes.
            </p>
        </div>
    </div>
</div>




<!-- Modal Tiempo Excedido -->
<div class="modal fade" id="modalTiempoExcedido" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center pb-5">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="../../../assets/images/icons/icon-alert.svg" alt="Icono de alerta" class="mb-4">
                <h2 class="mb-4">Hola Juan</h2>
                <p>Tu pedido <span>N2832-AA</span> fue cancelado por tiempo de falta de pago excedido.</p>
                <div class="time-remaining">
                    <h3>Quedan</h3>
                    <div class="time-bg">
                        <p>0:00 hrs</p>
                    </div>
                </div>
                <p>Esperamos poder ofrecerte nuestros servicios de nuevo.</p>
                <div class="cta-modal text-center">
                    <button type="button" class="btn btn-default btn-red btn-xl"> HACER OTRA RESERVACIÓN </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Modal Tiempo Excedido -->



<!-- Modal Pago Exitoso -->
<div class="modal fade" id="modalPagoExitoso" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center pb-5">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="../../../assets/images/icons/icon-checked.svg" alt="Icono de alerta" class="mb-4">
                <h2 class="mb-4">Hola Juan</h2>
                <p class="mb-5">Tu pedido <span>N2832-AA</span> ha sido validado con éxito, sigue las instrucciones para la recolección.</p>
                <p>Se generó la clave de rastreo <span>N93902-AA2</span>.</p>
                <div class="cta-modal text-center">
                    <button type="button" class="btn btn-default btn-red btn-xl"> INICIA TU CARGA </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Modal Pago Exitoso -->



<!-- Modal Pago Pendiente -->
<div class="modal fade" id="modalPagoPendiente" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-wide" role="document">
        <div class="modal-content text-center pb-5">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="assets/images/icons/icon-alert.svg" alt="Icono de alerta" class="mb-4">
                <h2 class="mb-4">Hola Juan</h2>
                <p class="mb-5">Tu pedido <span>N2832-AA</span> está pendiente de pago.</p>
                <div class="time-remaining">
                    <h3>Te quedan para realizar tu pago:</h3>
                    <div class="time-bg">
                        <p>23:59 hrs</p>
                    </div>
                </div>
                <p>Si ya realizaste tu pago y no lo tenemos registrado, solicita ayuda a través de nuestro chat, envía tus documentos o llámanos al <b>01 800 220 4639</b>.</p>
                <div class="form-basic my-5">
                    <form class="form-item">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-12 col-md-4 text-left">
                                    <label for="banco">Banco</label>
                                    <div class="input-group mb-3">
                                        <select class="form-control form-control-sm form-group__select" id="banco">
                                            <option>Banco 1</option>
                                            <option>Banco 2</option>
                                            <option>Banco 3</option>
                                            <option>Banco 4</option>
                                            <option>Banco 5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 text-left">
                                    <label for="reference">Número de referencia</label>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control form-control-sm" id="reference" aria-describedby="basic-addon3">
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 text-left">
                                    <label for="reference">Ficha de depósito</label>
                                    <button type="button" class="btn btn-secondary btn-block btn-modal">Agregar ficha de depósito</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="cta-modal text-center">
                    <button type="button" class="btn btn-default btn-red btn-xl"> ENVIAR </button>
                </div>
            </div>
        </div>
    </div>
</div>