<main class="content-box">
    <section class="module">
        <div class="container">
            <section class="basic-message basic-message-size2">
                <figure class="lightbox-icon  lightbox-icon-center">
                    <img src="assets/images/icons/Icon-alert.svg">
                </figure>
                <div class="lighbox-message lighbox-message-center">
                    <h3>Hola Juan</h3>
                    <p>Tu pedido <strong>N2832-AA</strong>, está pendiente de pago.</p>
                    <div class="info-pay">
                        <p><strong>Te quedan para realizar tu pago</strong></p>
                        <div class="rounded-box gray-box spc-bt">
                            <strong>2:59 hrs</strong>
                        </div>
                        <div class="note-pay">
                            <p>Si ya realisaste tu pago, y no lo tenemos registrado solicita ayuda a través de nuestro chat o envia tus documentos.</p>
                        </div>
                        <div class="info-deposit form-basic">
                            <form class="form-item center-content">
                                <div class="form-row">
                                    <div class="form-group select col-md-4 col-xs-12 wo--pad_left  wo-padm-both">
                                        <label class="textarea__label" for="correo">Banco</label>
                                        <div class="select-container">
                                            <select class="select__field">
                                          <option>Seleccionar</option>
                                          <option>Seleccionar</option>
                                          <option>Seleccionar</option>
                                      </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4 col-xs-12 wo--pad_left  wo-padm-both">
                                        <label>Número de referencia</label>
                                        <input type="text" class="form-control is-invalid is-invalid__1" placeholder="Ingresa tu (s) nombre (s)">
                                        <div class="invalid-feedback invalid-1 invalid-password js-normal">
                                            <i class="fas fa-exclamation-circle icon-exclamation"></i> Campo requerido
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4 col-xs-12 wo--pad_left  wo-padm-both">
                                        <label>Ficha deposito</label>
                                        <div class="input-file">
                                            <span>Adjuntar archivo</span>
                                            <input type="file" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-basic__btn text-center push-ma ">
                                    <button type="submit" class="btn btn-default btn-red btn-xl btn-size1"> ENTRAR </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</main>