<main class="content-box">
    <section class="module">
        <div class="container">
            <div class="form-basic">
                <div class="title3 ">
                    <h3 class="center-text">Recuperación de contraseña</h3>
                </div>





                <form class="form-item center-content log-form" [formGroup]="forma" (ngSubmit)="onSubmit()" novalidate="novalidate">
                    <div class="form-group">
                        <label for="exampleFormControlInput1 text">Introduce tu nueva contraseña</label>
                        <input type="password" name="password" formControlName="password" class="form-control" [ngClass]="{'is-invalid':forma.get('password').invalid}" placeholder="Mínimo 8 caracteres alfanuméricos" />
                        <div *ngIf="!forma.controls['password'].valid" class="invalid-feedback">
                            <div *ngIf="forma.controls['password'].errors?.minlength" class="form-control-feedback">
                                El mínimo son 8 caracteres.
                            </div>
                            <div *ngIf="forma.controls['password'].errors?.required" class="form-control-feedback">
                                El password es requerido.
                            </div>
                            <div *ngIf="forma.controls['password'].errors?.pattern" class="form-control-pattern">
                                Hay caracteres alfanuméricos
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1 text">Confirmar contraseña</label>
                        <input type="password" name="password2" formControlName="password2" class="form-control" [ngClass]="{'is-invalid':forma.get('password2').invalid}" placeholder="Mínimo 8 caracteres alfanuméricos" />
                        <div *ngIf="!forma.controls['password2'].valid" class="invalid-feedback">
                            <div *ngIf="forma.controls['password2'].errors?.required" class="form-control-pattern">
                                Confirma tu password
                            </div>
                            <div *ngIf="forma.controls['password2'].errors?.noiguales" class="form-control-pattern">
                                tu password no coincide
                            </div>
                        </div>
                    </div>


                    <div>
                    </div>
                    <!-- {{forma.valid}} -->

                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-default btn-red btn-xl btn-size1" [disabled]="!forma.valid">
                    </div>
                    <div class="form-bottom__links">
                        <p class="center-text"><a [routerLink]="['/aviso-legal']" class="default-link">Aviso de privacidad</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>