<main class="content-box">
    <section class="module">
        <div class="container">
            <section class="basic-message basic-message-size2">
                <figure class="lightbox-icon  lightbox-icon-center">
                    <img src="../../../../assets/images/icons/Icon-checked.svg">
                </figure>
                <div class="lighbox-message lighbox-message-center">
                    <h3>Gracias por tu compra</h3>
                    <p>Estamos trabajando en armar tu pedido, te contactaremos a la brevedad.</p>
                    <div class="info-pay">
                        <div class="info-deposit form-basic">
                            <div class="form-basic__btn text-center push-ma ">
                                <button type="submit" class="btn btn-default btn-red btn-xl">IR AL PEDIDO</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</main>