<main class="content-box">
    <section class="module">
        <div class="container">
            <section class="basic-message basic-message-size1">
                <figure class="lightbox-icon  lightbox-icon-center">
                    <img src="../../../assets/images/icons/icon-checked.svg">
                </figure>
                <div class="lighbox-message lighbox-message-center">
                    <h3>Contraseña actualizada</h3>
                    <p>La solicitud fue procesada correctamente</p>
                </div>
                <div class="box-btns form-group text-center">
                    <button type="submit" class="btn btn-default btn-red btn-xl btn-size1" data-dismiss="modal" [routerLink]="['/login']" routerLinkActive="router-link-active"> Iniciar sesión</button>
                </div>
            </section>
        </div>
    </section>
</main>