/* ------------------------------------------------------------
    ERROR
------------------------------------------------------------ */
.error {
    background-color: @cGray9;
    padding: 30px;

    .icon-exclamation {
        color: @cGray7;
        font-size: 40px;
    }

    .buttons__link {
        width: 100%;
    }

    .error-logo {
        position: relative;
        width: 100%;
        height: auto;
        display: inline-block;
        margin-bottom: 30px;

        .error-item {
            width: 200px;
            float: left;
        }
    }
}
