/* ------------------------------------------------------------
    MODAL
------------------------------------------------------------ */
.modal  {
    .modal-header {
        border-bottom: 0;
    }

    .modal-footer {
        border-top: 0;
    }

    .close {
        span {
            font-size: 30px;
            color: @cGray7;
        }
    }

    .modal-dialog {
        margin: 7.75rem auto;
        box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.33);
    }
}
