<main class="content-box">
    <section class="module">
        <div class="container">
            <section class="basic-message basic-message-size1">
                <figure class="lightbox-icon  lightbox-icon-center">
                    <img src="../../../../assets/images/icons/icon-alert.svg">
                </figure>
                <div class="lighbox-message lighbox-message-center">
                    <h3>Solicitud recibida</h3>
                </div>
                <div class="form-bottom__links no-margin">
                    <p class="center-text">Se te ha enviado un correo electrónico con los pasos para recuperar tu contraseña, si requieres que se envie un correo electrónico nuevo, da <a href="#" class="default-link">click aquí</a></p>
                    <p class="center-text"><a href="#" class="default-link">Regresar</a></p>
                </div>
            </section>
        </div>
    </section>
</main>