<main class="content-box mb-5">
    <section class="pago-carga step-process">
        <div class="container">
            <div class="title3 content-desktop">
                <h3>Elige tu método de pago</h3>
            </div>

            <!-- STEPER -->
            <section class="stepper-container fuelux mt-xs-0 mt-md-4 mt-lg-5">
                <div id="steper" class="wizard wizard-relative">
                    <div class="steps-container text-center text-lg-left">
                        <ul class="steps clearfix">
                            <li data-step="1" class="text prev">
                                <span class="step-number">1</span>
                                <span class="step-name">Cotiza</span>
                                <span class="chevron"></span>
                            </li>
                            <li data-step="2" class="text prev">
                                <span class="step-number">2</span>
                                <span class="step-name">Registra</span>
                                <span class="chevron"></span>
                            </li>
                            <li data-step="3" class="text prev">
                                <span class="step-number">3</span>
                                <span class="step-name">Factura</span>
                                <span class="chevron"></span>
                            </li>
                            <li data-step="4" class="text active">
                                <span class="step-number">4</span>
                                <span class="step-name">Paga</span>
                                <span class="chevron"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- /STEPER -->

            <!-- TOTAL MOBILE -->
            <div class="total-cost content-mobile">
                <div class="row">
                    <div class="col-8">
                        <strong><p>Monto a facturar</p></strong>
                        <h2>$16,330.00<span class="iva">&nbsp;MXN + IVA</span> </h2>
                    </div>
                    <div class="col-4 text-right">
                        <a href="#" class="btn btn-default btn-link" data-toggle="modal" data-target="#modalResumen">Ver resumen</a>
                    </div>
                </div>
            </div>
            <!-- /TOTAL MOBILE -->

            <!-- FORMULARIO DESKTOP -->
            <div class="row mt-5 step-process__form payment-method">

                <!-- FORMULARIO MÉTODO DE PAGO -->
                <div class=" col-12 col-md-8">
                    <!-- <div class="form-basic"> -->

                    <!-- <form class="form-item"> -->

                    <!-- MÉTODO DE PAGO -->
                    <div class="row">

                        <div class="col-12">

                            <div class="title-h3 content-mobile">
                                <h3>Realiza tu pago</h3>
                            </div>
                            <div class="subtitle">
                                <p> <strong> Pago con Tarjeta de Crédito </strong> </p>
                                <div class="share content-mobile">
                                    <div class="btn-wrap download">
                                        <i class="fa fa-share-square"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="gray-panel mb-5">

                                <div class="order-number mb-0 mb-lg-5">
                                    <p> Número de pedido </p>
                                    <p> <strong> N832-AA </strong> </p>
                                    <div class="print-save content-desktop">
                                        <div class="btn-wrap download">
                                            <i class="fa fa-download"></i>
                                        </div>
                                        <div class="btn-wrap print">
                                            <i class="fa fa-print"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-check check-condiciones content-desktop">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                    <label class="form-check-label text" for="inlineCheckbox1"> Acepto&nbsp; <a class="default-link" href="#">Términos y condiciones</a> &nbsp; <a class="default-link" href="#">Aviso Condiciones de uso</a> </label>
                                </div>

                                <div class="content-desktop">
                                    <small> Tanto las fechas como las horas de recolección y entrega están sujetas a la confirmación de pago. </small>
                                </div>

                            </div>

                            <div class="form-check check-condiciones content-mobile">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                <label class="form-check-label text" for="inlineCheckbox1"> Acepto&nbsp; <a class="default-link" href="#">Términos y condiciones</a> &nbsp; <a class="default-link" href="#">Aviso Condiciones de uso</a> </label>
                            </div>

                            <div class="content-mobile">
                                <small> Tanto las fechas como las horas de recolección y entrega están sujetas a la confirmación de pago. </small>
                            </div>

                        </div>

                    </div>
                    <!-- /MÉTODO DE PAGO -->


                    <div class="box-btns__right pt-5 margin-b">
                        <a href="#" class="btn btn-default btn-link btn-xl"><i class="fa fa-arrow-left"></i> REGRESAR </a>
                        <a href="#" class="btn btn-default btn-red btn-xl btn-size1"> PAGAR </a>
                    </div>


                    <!-- </form> -->
                    <!-- </div> -->
                </div>
                <!-- /FORMULARIO FACTURA -->

                <div class="offset-1"></div>

                <!-- RESUMEN -->
                <div class="col-3 resumen-quote content-desktop">
                    <div class="total-cost">
                        <strong><p>Monto a facturar</p></strong>
                        <h2>$16,330.00 <span class="iva">MXN + IVA</span> </h2>
                    </div>
                    <div class="accordion-content">
                        <div class="accordion-content__item">
                            <div class="accordion-tab js-accordion-tab">
                                <div class="btn-edit">
                                    <i class="fa fa-edit"></i>
                                </div>
                                <div class="btn-toggle-accordion"></div>
                                <p><strong>Resumen</strong></p>
                            </div>
                            <div class="accordion-panel">

                                <div class="accordion-datum">
                                    <h4>Ruta:</h4>
                                    <p>Mexicali-Pantaco</p>
                                </div>
                                <div class="accordion-datum">
                                    <h4>Origen:</h4>
                                    <p>Mexicali Zona Metropolitana</p>
                                </div>
                                <div class="accordion-datum">
                                    <h4>Destino:</h4>
                                    <p>Pantaco CDMX</p>
                                </div>

                                <hr>

                                <div class="accordion-datum">
                                    <h4>Fecha de recolección:</h4>
                                    <p>7 enero 2019</p>
                                </div>
                                <div class="accordion-datum">
                                    <h4>Horario:</h4>
                                    <p>12:00 hrs</p>
                                </div>
                                <div class="accordion-datum">
                                    <h4>Fecha de entrega:</h4>
                                    <p>9 enero 2019</p>
                                </div>
                                <div class="accordion-datum">
                                    <h4>Horario:</h4>
                                    <p>12:00 hrs</p>
                                </div>

                                <hr>

                                <div class="accordion-datum">
                                    <h4>Cantidad de contenedores:</h4>
                                    <p>2 Dry 53'</p>
                                    <p>3 HC 53'</p>
                                </div>

                            </div>
                        </div>
                        <div class="accordion-content__item">
                            <div class="accordion-tab js-accordion-tab">
                                <div class="btn-toggle-accordion"></div>
                                <p><strong>Responsables</strong></p>
                            </div>
                            <div class="accordion-panel">
                                <div class="accordion-datum">
                                    <div class="btn-edit-panel">
                                        <i class="fa fa-edit"></i>
                                    </div>
                                    <h4>Responsable de entrega:</h4>
                                    <p>John Carter</p>
                                    <p class="contact">mail@mail.com</p>
                                    <p class="contact">677 1234</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-content__item">
                            <div class="accordion-tab js-accordion-tab">
                                <div class="btn-edit">
                                    <i class="fa fa-edit"></i>
                                </div>
                                <div class="btn-toggle-accordion"></div>
                                <p><strong>Recolección</strong></p>
                            </div>
                        </div>
                        <div class="accordion-content__item">
                            <div class="accordion-tab js-accordion-tab">
                                <div class="btn-edit">
                                    <i class="fa fa-edit"></i>
                                </div>
                                <div class="btn-toggle-accordion"></div>
                                <p><strong>Entrega</strong></p>
                            </div>
                        </div>
                        <div class="accordion-content__item">
                            <div class="accordion-tab js-accordion-tab">
                                <div class="btn-edit">
                                    <i class="fa fa-edit"></i>
                                </div>
                                <div class="btn-toggle-accordion"></div>
                                <p><strong>Facturación</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /RESUMEN -->

            </div>
            <!-- FORMULARIO DESKTOP -->

            <!-- MODAL -->
            <div class="modal fade" id="modalResumen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <div class="resumen-quote">
                                <div class="accordion-content">
                                    <div class="accordion-content__item">
                                        <div class="accordion-tab js-accordion-tab">
                                            <div class="btn-edit">
                                                <i class="fa fa-edit"></i>
                                            </div>
                                            <div class="btn-toggle-accordion"></div>
                                            <p><strong>Resumen</strong></p>
                                        </div>
                                        <div class="accordion-panel">

                                            <div class="accordion-datum">
                                                <h4>Ruta:</h4>
                                                <p>Mexicali-Pantaco</p>
                                            </div>
                                            <div class="accordion-datum">
                                                <h4>Origen:</h4>
                                                <p>Mexicali Zona Metropolitana</p>
                                            </div>
                                            <div class="accordion-datum">
                                                <h4>Destino:</h4>
                                                <p>Pantaco CDMX</p>
                                            </div>

                                            <hr>

                                            <div class="accordion-datum">
                                                <h4>Fecha de recolección:</h4>
                                                <p>7 enero 2019</p>
                                            </div>
                                            <div class="accordion-datum">
                                                <h4>Horario:</h4>
                                                <p>12:00 hrs</p>
                                            </div>
                                            <div class="accordion-datum">
                                                <h4>Fecha de entrega:</h4>
                                                <p>9 enero 2019</p>
                                            </div>
                                            <div class="accordion-datum">
                                                <h4>Horario:</h4>
                                                <p>12:00 hrs</p>
                                            </div>

                                            <hr>

                                            <div class="accordion-datum">
                                                <h4>Cantidad de contenedores:</h4>
                                                <p>2 Dry 53'</p>
                                                <p>3 HC 53'</p>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="accordion-content__item">
                                        <div class="accordion-tab js-accordion-tab">
                                            <div class="btn-toggle-accordion"></div>
                                            <p><strong>Responsables</strong></p>
                                        </div>
                                        <div class="accordion-panel">
                                            <div class="accordion-datum">
                                                <div class="btn-edit-panel">
                                                    <i class="fa fa-edit"></i>
                                                </div>
                                                <h4>Responsable de entrega:</h4>
                                                <p>John Carter</p>
                                                <p class="contact">mail@mail.com</p>
                                                <p class="contact">677 1234</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-content__item">
                                        <div class="accordion-tab js-accordion-tab">
                                            <div class="btn-edit">
                                                <i class="fa fa-edit"></i>
                                            </div>
                                            <div class="btn-toggle-accordion"></div>
                                            <p><strong>Recolección</strong></p>
                                        </div>
                                    </div>
                                    <div class="accordion-content__item">
                                        <div class="accordion-tab js-accordion-tab">
                                            <div class="btn-edit">
                                                <i class="fa fa-edit"></i>
                                            </div>
                                            <div class="btn-toggle-accordion"></div>
                                            <p><strong>Entrega</strong></p>
                                        </div>
                                    </div>
                                    <div class="accordion-content__item">
                                        <div class="accordion-tab js-accordion-tab">
                                            <div class="btn-edit">
                                                <i class="fa fa-edit"></i>
                                            </div>
                                            <div class="btn-toggle-accordion"></div>
                                            <p><strong>Facturación</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>
</main>