<main class="content-box">
    <section class="module simple-content">
        <div class="container">
            <div class="simple-content__box">
                <div class="title3">
                    <h3>FAQ's</h3>
                </div>
                <div class="faq-content">
                    <div class="faq-item">
                        <div class="faq-item__question accordion-tab js-accordion-tab">
                            <p>¿Cómo sé cuánto pesa mi carga?</p>
                        </div>
                        <div class="faq-item__answer accordion-panel">
                            <p>Es necesario que hagas un estimado que no exceda las 26 toneladas (22 toneladas de carga más 4 toneladas de caja), o que acudas a una báscula.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-item__question accordion-tab js-accordion-tab">
                            <p>¿Cuáles son los puntos en los cuales puedo mover mi carga?</p>
                        </div>
                        <div class="faq-item__answer accordion-panel">
                            <p>Por el momento solo Mexicali a Pantaco. No hay puntos intermedios.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-item__question accordion-tab js-accordion-tab">
                            <p>¿Puedo mover mi carga solo por auto transporte?</p>
                        </div>
                        <div class="faq-item__answer accordion-panel">
                            <p>No. Intermodal Digital promueve el servicio intermodal por medio del Ferrocarril. Ayudando al medio ambiente y quitando de las carreteras a 200 camiones por cada corrida de tren.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-item__question accordion-tab js-accordion-tab">
                            <p>¿Puedo mantener la misma tarifa por muchos servicios?</p>
                        </div>
                        <div class="faq-item__answer accordion-panel">
                            <p>No. Las tarifas son dinámicas. Y son susceptibles de cambios sin previo aviso.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-item__question accordion-tab js-accordion-tab">
                            <p>¿Qué pasa si mi dirección no aparece en los Códigos Postales?</p>
                        </div>
                        <div class="faq-item__answer accordion-panel">
                            <p>Es probable que no tengamos cobertura en ese Origen o destino. Pero estamos trabajando para ampliar nuestra cobertura de servicio.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-item__question accordion-tab js-accordion-tab">
                            <p>¿Qué pasa si no reconoce mi CP en la cotización?</p>
                        </div>
                        <div class="faq-item__answer accordion-panel">
                            <p>Puedes solicitar ayuda por medio de nuestro chat o comunícate con nuestro servicio a clientes.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-item__question accordion-tab js-accordion-tab">
                            <p>¿Cuánto tiempo tengo para realizar mi pago en el banco una vez que haya solicitado mi servicio?</p>
                        </div>
                        <div class="faq-item__answer  accordion-panel">
                            <p>24 hrs.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-item__question accordion-tab js-accordion-tab">
                            <p>¿Cuánto tiempo tengo para recibir la confirmación de mi pago en el banco?</p>
                        </div>
                        <div class="faq-item__answer accordion-panel">
                            <p>No más de 24 hrs. Días Laborales.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-item__question accordion-tab js-accordion-tab">
                            <p>¿Cómo tengo que hacer la distribución de mi producto en el contenedor?</p>
                        </div>
                        <div class="faq-item__answer accordion-panel">
                            <p>Puedes conocer los requerimientos necesarios aquí <a href="#">Prepara tu carga</a> o comunícate con un asesor.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-item__question accordion-tab js-accordion-tab">
                            <p>¿Qué pasa si excedo las 26 toneladas (22 de carga más 4 toneladas de caja)?</p>
                        </div>
                        <div class="faq-item__answer accordion-panel">
                            <p>Tu carga no se sube al tren y tendrás que absorber los gastos de maniobra y aligerar hasta que sea menor a 26 toneladas.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-item__question accordion-tab js-accordion-tab">
                            <p>¿Qué pasa si cancelo mi servicio antes que de mi carga sea subida al tren?</p>
                        </div>
                        <div class="faq-item__answer accordion-panel">
                            <p>Tendrás que cubrir los gastos de maniobras.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-item__question accordion-tab js-accordion-tab">
                            <p>¿Una vez que se carga mi contenedor cuánto tiempo pasa para que mi contenedor sea cargado a tren?</p>
                        </div>
                        <div class="faq-item__answer accordion-panel">
                            <p>Ferromex cuenta cuenta con un diseño de salidas de lunes a sábado. Tienen que llegar al cut off antes de las 12:00 hrs (<em>Hora Mexicali</em>).</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-item__question accordion-tab js-accordion-tab">
                            <p>¿Qué pasa si mi contenedor llega con un sello diferente al que se documentó en origen?</p>
                        </div>
                        <div class="faq-item__answer accordion-panel">
                            <p>Puede ser por revisión de las autoridades y no tienes derecho a una confronta o puede ser por vandalismo en la cual si tienes derecho a una confronta.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-item__question accordion-tab js-accordion-tab">
                            <p>¿Qué es una confronta?</p>
                        </div>
                        <div class="faq-item__answer accordion-panel">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mollis arcu velit, eget euismod odio tincidunt sit amet. Fusce porta volutpat auctor. Vivamus sit amet bibendum neque.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-item__question accordion-tab js-accordion-tab">
                            <p>¿Qué pasa si mi factura tuvo un error?</p>
                        </div>
                        <div class="faq-item__answer accordion-panel">
                            <p>Contacta a tu ejecutivo de Servicio a Clientes</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-item__question accordion-tab js-accordion-tab">
                            <p>¿Qué pasa si no tengo RFC?</p>
                        </div>
                        <div class="faq-item__answer accordion-panel">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mollis arcu velit, eget euismod odio tincidunt sit amet. Fusce porta volutpat auctor. Vivamus sit amet bibendum neque.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>